In [2]:
import os
import pandas as pd

In [15]:
# Ruta de la carpeta que contiene los archivos CSV
folder_path = '../Data'

In [16]:
# Crear una lista para almacenar los dataframes
dataframes = []

In [17]:
for filename in os.listdir(folder_path):
    if filename.endswith('.csv'):
        file_path = os.path.join(folder_path, filename)
        df = pd.read_csv(file_path)
        dataframes.append(df)

In [21]:
dataframes[1]

                    0          1
0            MEP AL30     897.03
1            MEP GD30     899.03
2            CCL GD30     864.52
3  Dólar Banco Nación      365.5
4          Dólar Blue  875 - 925

In [22]:
dataframes[2]

,ticker,Indice,Precio,Dif,TIR,MD,Vol(M),Paridad,VT,tTIR,UpTIR,dQ,pQ,Q/P,Unnamed: 14
0,X23N3,CER,48hs,156.50,↑0.12%,433.4%,0.00,206.2,99.4%,157.4,-,-,10,-,-
1,X18E4,CER,48hs,131.43,↑1.29%,-3.0%,0.18,12.6,100.5%,130.7,-,-,66,-,-
2,TDF24,CER,48hs,45800.00,↓-0.00%,-45.0%,0.52,0.6,119.8%,38243.6,-,-,107,-,-
3,TDA24,CER,48hs,48000.00,↑1.05%,-36.7%,0.72,0.0,125.1%,38382.7,-,-,169,-,-
4,TDG24,CER,48hs,47250.00,↓-0.32%,-22.6%,1.02,0.1,125.6%,37613.5,-,-,291,-,-

In [23]:
dataframes[3]

,ticker,Precio,Dif,TIR,MD,Vol(M),Paridad,VT,tTIR,UpTIR,dQ,pQ,Q/P,Unnamed: 13
0,X23N3,48hs,156.50,↑0.12%,433.4%,0.00,206.2,99.4%,157.4,-,-,10,-,-
1,X18E4,48hs,131.43,↑1.29%,-3.0%,0.18,12.6,100.5%,130.7,-,-,66,-,-
2,TDF24,48hs,45800.00,↓-0.00%,-45.0%,0.52,0.6,119.8%,38243.6,-,-,107,-,-
3,TDA24,48hs,48000.00,↑1.05%,-36.7%,0.72,0.0,125.1%,38382.7,-,-,169,-,-
4,TDG24,48hs,47250.00,↓-0.32%,-22.6%,1.02,0.1,125.6%,37613.5,-,-,291,-,-

In [24]:
dataframes[4]

,ticker,Indice,Precio,Dif,TIR,MD,Vol(M),Paridad,VT,tTIR,UpTIR,dQ,pQ,Q/P,Unnamed: 14
0,TV24,USDL,48hs,46201.0,↑0.00%,-45.3%,0.59,0.6,132.0%,100.0,-,-,169,-,-
1,T2V4,USDL,48hs,46100.0,↑0.44%,-26.6%,1.01,0.0,131.6%,100.1,-,-,140,-,-
2,TDF24D,USDL,48hs,45800.0,↓-0.00%,-60.8%,0.73,0.6,130.9%,100.0,-,-,107,-,-
3,TDA24D,USDL,48hs,48000.0,↑1.05%,-49.9%,0.91,0.0,137.1%,100.0,-,-,169,-,-
4,TDG24D,USDL,48hs,47250.0,↓-0.32%,-31.6%,1.16,0.1,135.0%,100.0,-,-,291,-,-